body{
    margin: 0;
    background-color: black;
    color:#e4e4e4;
    text-align: center;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}

/*
::-webkit-scrollbar {
    display: none;
}
*/

header{
    margin: -27px -8px 0 -8px;
    background-color: #191919;
}

header img{
    margin: 1px 10px;
}

header h1{
    padding: 15px 0 0 0;
    font-size: 40px;
}

.navbar ul{
    background-color: #191919;
    list-style-type: none;
    padding: 10px 0 0 0;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
}

.navbar li{
    float: left;
    border: 2px solid;
    border-style:outset;
    border-color: #191919;
}

.navbar li:hover{
    background-color: rgb(55, 55, 55);
}

footer{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
    background-color: #191919;
}

main h1{
    display: inline-block;
    width: 300px;
    text-align: center;
}

button{
    border-radius: 7px;
}


img{
    border-radius: 7px;
    border: 1px solid whitesmoke;
}
.Logo{
    float:left;
    margin-right:-100%;
    border:0px;
    border: hidden;
}
.Logo:hover, footer a:hover, main img:hover{
    outline: 1px solid whitesmoke;
}


main h1:hover{
    outline: 2px solid white;
    border-radius: 20px;
}

#apps{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#apps div{
    padding: 15px;
    margin: 15px;
    height: 500px;
}