/*  This old CSS feels bad looking at it now. Eventually I'll restructure it, and fix bad CSS
    Maybe even make my portfolio website a react website 💪*/

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color:#e4e4e4;
    text-align: center;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #191919;
    display: flex;
    flex-direction: column;
}

.Logo{
    float:left;
    border: hidden;
    margin: 1px 1px; /*This allows outline around logo to remain clear. Previously got cut off and looked ugly*/
}

header h1{
    font-size: 4rem;
    width: 100vw;
    display:inline;
    position: absolute;
    pointer-events: none;
}

.navbar ul{
    background-color: #191919;
    list-style-type: none;
    padding: 10px 0 0 0;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
}

.navbar li{
    float: left;
    border: 2px solid;
    border-style:outset;
    border-color: #191919;
}

.navbar li:hover{
    background-color: rgb(55, 55, 55);
}


main {
  flex: 1;
}

main h1{
    display: inline-block;
    width: 300px;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
    background-color: #191919;
    margin-top: auto;
}


button{
    border-radius: 7px;
}


img{
    border-radius: 7px;
    border: 1px solid whitesmoke;
}

.Logo:hover, footer a:hover, main img:hover{
    outline: 1px solid whitesmoke;
}


main h1:hover{
    outline: 2px solid white;
    border-radius: 20px;
}

#apps{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#apps div{
    padding: 15px;
    margin: 15px;
    height: 500px;
}
