body{
    background-color: rgb(41, 24, 41);
    color: rgb(231, 231, 231);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}

#startGameBtn{
    position: absolute;
    top: 30%;
    padding: 10px;
    font-size: 5rem;
    background-color: rgba(255, 255, 255, 0.596);
}

.row{
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin: 20px 0;
}

.stats, .pokemonSprite{
    padding: 25px;
    margin: 25px;
    background-color: rgba(93, 54, 93, 0.285);
    width: 175px;
    height: 175px;
    border: 3px outset rgba(93, 54, 93, 0.825);
}

#divider {
    border: none;
    height: 2px;
    background-color: rgb(246, 255, 0);
    margin: 40px auto;
    width: 100%;
    transform: rotate(-2.5deg);
}

.stats button{
    font-size: 1.2rem;
    padding: 4px;
    margin: 5px;
    border: none;
    border-radius: 7px;
    background-color:hsl(0, 0%, 90%);
}

.stats button:hover{
    background-color:hsl(0, 0%, 100%);
}

.stats button:active{
    background-color:hsl(0, 0%, 75%);
}

#container{
    background-color: rgba(57, 27, 57, 0.825);
    width: 600px;
    height: 650px;
    margin: 15px;
    padding: 10px;
    border: 3px outset rgba(93, 54, 93, 0.825);
    box-shadow: 2px 2px 5px black;
    display:none;
}

#loader{
    display:none;
    position:absolute;
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    top: 30%;
}

@keyframes shake{
    0% {transform: rotate(5deg);}
    25% {transform: rotate(-5deg);}
    50% {transform: rotate(5deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(5deg);}
}

#BGM{
    display: none;
}

#bgmSetting{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#bgmSetting button{
    font-size: 2rem;
    padding: 15px;
}

#helpBtn{
    position: absolute;
    bottom: 15px;
    left:15px;
    font-size: 5rem;
    padding: 15px;
    margin: 10px;
}

#help{
    background-color:rgba(93, 54, 93, 1);
    border: 3px outset rgb(109, 63, 109);
    width: 60%;
    padding: 20px;
    font-size: 1.5rem;
    position: absolute;
    top: 5%;
    display: none;
    z-index: 100;
}

#footer{
    position: absolute;
    bottom: 15px;
    padding: 15px;
    margin: 10px;
}